<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fishnet chair</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
            crossorigin="anonymous"></script>
</head>
<body class = "chair">
<div class="container">
    <div class="menu-start">
        <a class="logo" href="#"><img src="img/logo.png" alt="logo"></a>
        <ul class="menu">
            <li><a class="active-link" href="index.html">HOME</a></li>
            <li><a href="Products_Range.html">PRODUCTS</a></li>
            <li><a href="#">HISTORY</a></li>
            <li><a href="Fishnet_chair.html">SHOWROOM</a></li>
            <li><a href="contact_us.html">CONTACT</a></li>
            <li><img src="img/search.png" alt="search" class = "search" style="padding-left: 21px;"></li>
        </ul>
    </div>
    <ul class="menu-product">
        <li><a href="#" class="active-link">ALL</a></li>
        <li><a href="#">HOME</a></li>
        <li><a href="#">OFFICE</a></li>
        <li><a href="#">FURNITURE</a></li>
        <li><a href="#">MODERN</a></li>
        <li><a href="#">CLASSIC</a></li>
    </ul>

    <div class="chair-product">
        <div class="product-picture">
            <img src="img/chair.jpg" alt="chair">
            <div class="small-photo">
                <img src="img/controll.jpg" alt="control">
                <img src="img/controll1.jpg" alt="control1">
                <img src="img/controll2.jpg" alt="control2">
            </div>
        </div>
        <div class="chair-text">
            <h3>Fishnet Chair</h3>
            <h4>Hot Deal</h4>
            <div class="price">
                <div class="text">$</div>
                <div class="huge">36.7</div>
                <div class="text">/sq</div>
            </div>

            <a class="Order_us" href="#">Order Us &gt;</a>
            <p>The majesty of&nbsp;Mountains&nbsp;&mdash; Ugmonk style. <br>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do&nbsp;eiusmod tempor incididunt ut&nbsp;labore<br>
                <br>
                et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat.<br>
                <br>
                Duis aute irure dolor in&nbsp;reprehenderit in&nbsp;voluptate velit esse cillum dolore eu&nbsp;fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
            </p>
        </div>
    </div>
    <div class="page3">
        <div class="menu-text">
            <h2>Related Products</h2>
            <a href="#"  class="explore-all">Explore all &gt;</a>
        </div>
        <div class="catalog">
            <div class="item"><img src="img/product-11.jpg" alt="product">
                <div class="product-hover">
                    <a href="#" class="product_link"><img src="img/arrow.jpg" alt="&gt;"></a>
                    <h3>Fishnet Chair</h3>
                    <p>Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div></div>
            <div class="item"><img src="img/product-21.jpg" alt="product">
                <div class="product-hover">
                    <a href="#" class="product_link"><img src="img/arrow.jpg" alt="&gt;"></a>
                    <h3>Fishnet Chair</h3>
                    <p>Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div></div>
            <div class="item"><img src="img/product-31.jpg" alt="product">
                <div class="product-hover">
                    <a href="#" class="product_link"><img src="img/arrow.jpg" alt="&gt;"></a>
                    <h3>Fishnet Chair</h3>
                    <p>Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div></div>

        </div>
    </div>
    <footer class="footer">
        <div class="upper">
            <div class="contact-us">
                <h4>Contact Us</h4>
                <address>132A Bridge Road Richmond VIC
                    Australia. <br>
                    <br>
                    Talk to&nbsp;us on&nbsp;1300&nbsp;132 <br>
                    info@interior.com</address>
            </div>
            <div class="information">
                <h4>Useful Information</h4>
                <div class="footer-menu">

                    <ul>
                        <li><a href="#">Sales terms</a></li>
                        <li><a href="#">Customer care</a></li>
                        <li><a href="#">Delivery</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Architect accounts</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Exchanges &amp;&nbsp;returns</a></li>
                    </ul>

                </div>
            </div>
            <div class="stay">
                <h4>Let&rsquo;s Stay in&nbsp;Touch!</h4>
                <p>Suscribe to&nbsp;know about our latest news, products and special offers just for suscribers.</p>
                <form action="#">
                    <input type="text" placeholder="your email address">
                    <button><i class="fab fa-telegram-plane"></i></button>
                </form>
            </div>
        </div>
        <div class="lower">
            <div class="text"><p>&copy;&nbsp;Copyright&nbsp;&mdash; INTERIOR 2016. All Rights Reserved.</p> </div>

            <img src="img/social-links.png" alt="social-links" class="social-net">
            <!--<div class="social-net">-->
            <!--<a href="#"><img src="img/facebook.png" alt=""></a>-->
            <!--<a href="#"><img src="img/twitter.png" alt=""></a>-->
            <!--<a href="#"><img src="img/g+.png" alt=""></a>-->
            <!--<a href="#"><img src="img/lnk.png" alt=""></a>-->
            <!--</div>-->
            <div class="text"> <p>Terms &amp;&nbsp;Conditions&nbsp;/ Privacy policy &amp;&nbsp;Cookies</p></div>

        </div>

    </footer>
</div>
</body>
</html>