<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>INTERIOR</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

</head>

<body class = "item-page">
<div class="container">
    <div class="slider padding-site">
        <header class = "header"><!--<div class="header">-->
            <a class="logo" href="index.html"><img src="img/logo.png" alt="logo"></a>
            <nav>
                <ul class="menu">
                    <li><a class="active-link" href="index.html">HOME</a></li>
                    <li><a href="Products_Range.html">PRODUCTS</a></li>
                    <li><a href="#">HISTORY</a></li>
                    <li><a href="Fishnet_chair.html">SHOWROOM</a></li>
                    <li><a href="contact_us.html">CONTACT</a></li>
                    <li><img src="img/search.png" alt="search" class = "search" style="padding-left: 21px;"></li>
                </ul>
            </nav>
        </header>
        <article class="slider-text">
            <h4>TRENDING</h4>
            <h2>Fishnet Chair</h2>
            <p>Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame, available in&nbsp;matt powder-coated
                black</p>
            <a class="Order_us" href="#">Order Us &gt;</a>
        </article>

        <div class="box-circle">
            <a href="#" class="circle"></a>
            <a href="#" class="circle circle-active"></a>
            <a href="#" class="circle"></a>
        </div>

    </div>
    <div class="padding-site2">
        <div class="menu-text">
            <ul class="menu2">
                <li><a href="#" class="active-link">Featured</a></li>
                <li><a href="#">New</a></li>
            </ul>
            <a href="#" class="explore-all">Explore all &gt;</a>
        </div>
        <div class="product">
            <div class="item"><img src="img/product-1.jpg" alt="product-photo">
                <div class="product-hover">
                    <a href="#" class="product_link"><img src="img/arrow.jpg" alt="&gt;"></a>
                    <h3>Fishnet Chair</h3>
                    <p>Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div>
            </div>
            <div class="item"><img src="img/product.jpg" alt="product-photo">
                <div class="product-hover">
                    <a href="#" class="product_link"><img src="img/arrow.jpg" alt="&gt;"></a>
                    <h3>Lorem ipsum dolor22.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
            <div class="item"><img src="img/teapot.jpg" alt="product-photo">
                <div class="product-hover">
                    <a href="#" class="product_link"><img src="img/arrow.jpg" alt="&gt;"></a>
                    <h3>Lorem ipsum dolor33.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
            <div class="item"><img src="img/armchair.jpg" alt="product-photo">
                <div class="product-hover">
                    <a href="#" class="product_link"><img src="img/arrow.jpg" alt="&gt;"></a>
                    <h3>Lorem ipsum dolor44.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="promo-goods">
        <div class="promo1">
            <!--<img src="img/promo1.jpg" alt="photo_promo1">-->
            <article class="promo1_text">
                <h4>EXCLUSIVE</h4>
                <h2>Fishnet Chair</h2>
                <div class="promo1_descr">
                    <p>Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame, available in&nbsp;matt
                        powder-coated black</p>
                </div>
                <a href="#" class="Order_us">Order Us &gt;</a></article>
        </div>
        <div class="promo2">
            <!--<img src="img/promo2.jpg" alt="photo_promo2">-->
            <article class="promo2_text">
                <h4>EXCLUSIVE</h4>
                <h2>Fishnet Chair</h2>
                <p>Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame, available in&nbsp;matt powder-coated
                    black</p> <a href="#" class="Order_us">Order Us &gt;</a></article>
        </div>
    </div>

    <div class="page3">
        <div class="menu-text">
            <h2>Trending products</h2>
            <a href="#"  class="explore-all">Explore all &gt;</a>
        </div>
        <div class="catalog">
            <div class="item"><img src="img/product-11.jpg" alt="product">
                <div class="product-hover">
                    <a href="#" class="product_link"><img src="img/arrow.jpg" alt="&gt;"></a>
                    <h3>Fishnet Chair</h3>
                    <p>Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div></div>
            <div class="item"><img src="img/product-21.jpg" alt="product">
                <div class="product-hover">
                    <a href="#" class="product_link"><img src="img/arrow.jpg" alt="&gt;"></a>
                    <h3>Fishnet Chair</h3>
                    <p>Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div></div>
            <div class="item"><img src="img/product-31.jpg" alt="product">
                <div class="product-hover">
                    <a href="#" class="product_link"><img src="img/arrow.jpg" alt="&gt;"></a>
                    <h3>Fishnet Chair</h3>
                    <p>Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div></div>
            <div class="item"><img src="img/product-41.jpg" alt="product">
                <div class="product-hover">
                    <a href="#" class="product_link"><img src="img/arrow.jpg" alt="&gt;"></a>
                    <h3>Fishnet Chair</h3>
                    <p>Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div></div>
            <div class="item"><img src="img/product-5.jpg" alt="product">
                <div class="product-hover">
                    <a href="#" class="product_link"><img src="img/arrow.jpg" alt="&gt;"></a>
                    <h3>Fishnet Chair</h3>
                    <p>Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div></div>
            <div class="item"><img src="img/product-6.jpg" alt="product">
                <div class="product-hover">
                    <a href="#" class="product_link"><img src="img/arrow.jpg" alt="&gt;"></a>
                    <h3>Fishnet Chair</h3>
                    <p>Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div></div>
        </div>
    </div>
    <div class="table">
        <article class="table-text">
            <h4>Hot deal</h4>
            <h2>Fishnet Chair</h2>
            <p>Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame, available in&nbsp;matt powder-coated
                black</p> <a class="Order_us" href="#">Order Us &gt;</a></article>
        <div class="box-circle">
            <a href="#" class="circle"></a>
            <a href="#" class="circle circle-active"></a>
            <a href="#" class="circle"></a>
        </div>
    </div>

    <div class="catalog-view">
        <div class="product1">
            <article class="promo1_text">
                <h4>EXCLUSIVE</h4>
                <h2>Fishnet Chair</h2>
                <div class="promo1_descr">
                    <p>Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame, available in&nbsp;matt</p>
                </div>
                <a href="#" class="Order_us">Order Us &gt;</a></article>
        </div>
        <div class="products">

            <div class="item"><img src="img/pr-2-sm.jpg" alt="product-photo">
                <div class="product-hover">
                    <a href="#" class="product_link"><img src="img/arrow.jpg" alt="&gt;"></a>
                    <h3>Lorem ipsum.</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>

            <div class="item"><img src="img/pr-3-sm.jpg" alt="product-photo">
                <div class="product-hover">
                    <a href="#" class="product_link"><img src="img/arrow.jpg" alt="&gt;"></a>
                    <h3>Lorem ipsum.</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>

            <div class="item"><img src="img/pr-4-sm.jpg" alt="product-photo">
                <div class="product-hover">
                    <a href="#" class="product_link"><img src="img/arrow.jpg" alt="&gt;"></a>
                    <h3>Lorem ipsum.</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>

            <div class="item"><img src="img/pr-5-sm.jpg" alt="product-photo">
                <div class="product-hover">
                    <a href="#" class="product_link"><img src="img/arrow.jpg" alt="&gt;"></a>
                    <h3>Lorem ipsum.</h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>


        </div>
    </div>

    <div class="mobile">
        <article class="mobile-text">
            <h4>mobile app</h4>
            <h3>Find. Follow. Favorite. </h3>
            <p>Save your favorites and share your style.</p>
            <div class="mobile-ref">
                <a class="mobile-img" href="https://www.apple.com/ru/ios/app-store/"target="_blank"><img src="img/app-store.jpg" alt="AppStore"></a>
                <a class="mobile-img" href="https://play.google.com/store"target="_blank"><img src="img/google-play.jpg" alt="GooglePlay"></a>
            </div>
        </article>

    </div>

    <footer class="footer">
        <div class="upper">
            <div class="contact-us">
                <h4>Contact Us</h4>
                <address>132A Bridge Road Richmond VIC
                    Australia. <br>
                    <br>
                    Talk to&nbsp;us on&nbsp;1300&nbsp;132 <br>
                    info@interior.com</address>
            </div>
            <div class="information">
                <h4>Useful Information</h4>
                <div class="footer-menu">

                    <ul>
                        <li><a href="#">Sales terms</a></li>
                        <li><a href="#">Customer care</a></li>
                        <li><a href="#">Delivery</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Architect accounts</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Exchanges &amp;&nbsp;returns</a></li>
                    </ul>

                </div>
            </div>
            <div class="stay">
                <h4>Let&rsquo;s Stay in&nbsp;Touch!</h4>
                <p>Suscribe to&nbsp;know about our latest news, products and special offers just for suscribers.</p>
                <form action="#">
                    <input type="text" placeholder="your email address">
                    <button><i class="fab fa-telegram-plane"></i></button>
                </form>
            </div>
        </div>
        <div class="lower">
            <div class="text"><p>&copy;&nbsp;Copyright&nbsp;&mdash; INTERIOR 2016. All Rights Reserved.</p> </div>

            <img src="img/social-links.png" alt="social-links" class="social-net">
            <!--<div class="social-net">-->
                <!--<a href="#"><img src="img/facebook.png" alt=""></a>-->
                <!--<a href="#"><img src="img/twitter.png" alt=""></a>-->
                <!--<a href="#"><img src="img/g+.png" alt=""></a>-->
                <!--<a href="#"><img src="img/lnk.png" alt=""></a>-->
            <!--</div>-->
            <div class="text"> <p>Terms &amp;&nbsp;Conditions&nbsp;/ Privacy policy &amp;&nbsp;Cookies</p></div>

        </div>

    </footer>
</div>
</body>

</html>